/*/////////////////////////////////////////////////////////////////////////////////////
// Sign in window */
#signIn {
    width: 100%;
    height: calc(100% - 70px);
    text-align: center;
    padding-top: 50px;
    -webkit-user-select: none;
}

#signIn h1 {
    color: #fff;
    display: inline-block;
    position: relative;
    margin-left: 50px;
    margin-bottom: 5px;
    cursor: default;
}

#signIn h1:before {
    content: "";
    width: 50px;
    height: 50px;
    background: url("../img/logo50.png");
    position: absolute;
    top: 6px; left: -56px;
}

#signIn h5 {
    color: #888;
    margin-bottom: 0px;
    cursor: default;
}

#signIn form {
    width: 260px;
    height: 180px;
    position: absolute;
    top: 170px; left: 50%;
    margin-left: -130px;
}

#signIn form .checkbox {
    width: 120px;
    height: 20px;
    position: absolute;
    bottom: 0; left: 0;
}

#signIn form small {
    width: 120px;
    height: 20px;
    position: absolute;
    bottom: 0; right: 0;
    text-align: right;
}

#signUp {
    width: 100%;
    height: 70px;
    border-top: 1px solid rgba(255,255,255,.1);
    text-align: center;
    padding-top: 20px;
    -webkit-user-select: none;
}

/*/////////////////////////////////////////////////////////////////////////////////////
// Application window */
#sidebar {
    width: 300px;
    height: 100%;
    background: #202224;
    position: absolute;
    top: 0; left: 0;
}

#sidebar .profile {
    width: 100%;
    height: 100px;
    border-right: 1px solid #000;
    border-bottom: 1px solid rgba(255,255,255,.1);
    position: relative;
    -webkit-user-select: none;
    cursor: default;
}

#sidebar .profile .avatar {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px; left: 20px;
}

#sidebar .profile .avatar:before {
    content: "";
    width: 23px;
    height: 23px;
    border: 3px solid #202224;
    border-radius: 100%;
    position: absolute;
    bottom: -3px; right: -3px;
}

#sidebar .profile .avatar img {
    width: 60px;
    height: 60px;
}

#sidebar .profile h4 {
    width: 190px;
    height: 25px;
    color: #fff;
    font-weight: 400;
    position: absolute;
    top: 30px; left: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar .profile h6 {
    width: 160px;
    height: 20px;
    color: #888;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 55px; left: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar .profile button {
    width: 30px;
    height: 30px;
    font-weight: 600;
    padding: 0 0 10px 0;
    line-height: 24px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 10px; right: 10px;
}

#sidebar .friends {
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

#sidebar .friends::-webkit-scrollbar {
    width: 10px;
}

#sidebar .friends::-webkit-scrollbar-track {
    background-color: #000;
}

#sidebar .friends::-webkit-scrollbar-thumb {
    background-color: #36393b;
    border: 2px solid transparent;
    background-clip: content-box;
}

#sidebar .friends ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

#sidebar .friends ul li {
    width: 100%;
    height: 60px;
    position: relative;
    -webkit-user-select: none;
    cursor: default;
}

#sidebar .friends ul li:hover {
    background: #2c2f31;
    transition: background 150ms linear;
}

#sidebar .friends ul li[data-status="offline"] {
    opacity: .5;
    transition: opacity 300ms linear;
}

#sidebar .friends .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px; left: 20px;
}

#sidebar .friends .avatar:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #202224;
    border-radius: 100%;
    position: absolute;
    bottom: -2px; right: -2px;
}

#sidebar .friends ul li:hover .avatar:before {
    border: 2px solid #2c2f31;
    transition: border 150ms linear;
}

#sidebar .friends .avatar img {
    width: 40px;
    height: 40px;
}

#sidebar .friends h6 {
    width: 210px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
    position: absolute;
    top: 10px; left: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar .friends h6 small {
    color: #888;
}

#application {
    width: calc(100% - 300px);
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0; right: 0;
}

#application .tabs {
    width: 100%;
    height: 40px;
    background: #ececec;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 0; left: 0;
    -webkit-user-select: none;
    cursor: default;
}

#application .tabs ul {
    width: 100%;
    height: 39px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    border-collapse: collapse;
    overflow: auto;
}

#application .tabs ul li {
    height: 39px;
    background: #ececec;
    border-right: 1px solid #ccc;
    color: #333;
    font-weight: 700;
    padding: 10px 40px 0 20px;
    display: table-cell;
    position: relative;
    transition: background 150ms linear;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#application .tabs ul li:last-child {
    border-right: 0px solid #ccc;
}

.#application .tabs ul li i {
    -webkit-app-region: no-drag;
    width: 50px;
    height: 30px;
    position: relative;
}

#application .tabs ul li i:before {
    content: "";
    width: 10px;
    height: 10px;
    background: url("../img/icons.png");
    background-position: 0 -10px;
    position: absolute;
    top: 15px; right: 10px;
    opacity: .3;
}

#application .tabs ul li i:hover:before {
    opacity: 1;
    transition: opacity 300ms linear;
}

#application .tabs ul li:hover {
    background: #f4f4f4;
}

#application .tabs ul li.active {
    background: #f8f8f8;
}

#application .chat {
    width: 100%;
    height: calc(100% - 119px);
    background: #fff;
    position: absolute;
    top: 40px; left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#application .chat::-webkit-scrollbar {
    width: 10px;
}

#application .chat::-webkit-scrollbar-track {
    background-color: #ececec;
    border-left: 1px solid #ccc;
}

#application .chat::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border: 2px solid transparent;
    background-clip: content-box;
}

#application .chat .item {
    width: 100%;
    border-bottom: 1px solid #ccc;
    position: relative;
}

#application .chat .item.normal {
    min-height: 90px;
}

#application .chat .item.append,
#application .chat .item.presence {
    min-height: 50px;
}

#application .chat .item .avatar {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px; left: 20px;
}

#application .chat .item .avatar img {
    width: 50px;
    height: 50px;
}

#application .chat .item .content {
    width: calc(100% - 80px);
	margin-left: 80px;
	position: relative;
    padding-right: 120px;
    padding-bottom: 14px;
}

#application .chat .item .content img {
    max-width: 100%;
    height: auto;
}

#application .chat .item.normal .content {
    padding-top: 26px;
}

#application .chat .item.append .content,
#application .chat .item.presence .content{
    padding-top: 16px;
}

#application .chat .item .content .name {
    width: 100%;
    height: 20px;
}

#application .chat .item .content .name h6 {
    font-weight: 700;
}

#application .chat .item .content .message {
    width: 100%;
    min-height: 20px;
}

#application .chat .item .content .time {
    width: 120px;
    position: absolute;
    top: 0; right: 0;
    text-align: right;
    padding-right: 20px;
}

#application .chat .item .content .time p {
    color: #aaa;
}

#application .chat .item.normal .content .time {
    margin-top: 35px;
}

#application .chat .item.append .content .time {
    margin-top: 18px;
}

#application .chat .item.presence .content strong {
    color: #333;
}

#application .chat .item.presence .animation {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px; left: 20px;
}

#application .chat .item.presence .animation span {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    float: left;
    margin: 22px 4px 0 4px;
    -webkit-animation: loading 0.6s infinite alternate;
}
#application .chat .item.presence .animation span:nth-of-type(1) {
    background: #333;
    -webkit-animation-delay: 0.0s;
}
#application .chat .item.presence .animation span:nth-of-type(2) {
    background: #333;
    -webkit-animation-delay: 0.2s;
}
#application .chat .item.presence .animation span:nth-of-type(3) {
    background: #333;
    -webkit-animation-delay: 0.4s;
}
@-webkit-keyframes loading {
    100% {
        background: #ccc;
    }
}

#application .send {
    width: 100%;
    height: 80px;
    background: #fff;
    border-top: 1px solid #ccc;
    padding: 20px;
    position: absolute;
    bottom: 0; left: 0;
    -webkit-user-select: none;
    cursor: default;
}

#application .send textarea {
    width: calc(100% - 40px);
    height: 40px;
    background: #fff; 
    border: 1px solid #ccc;
    font-family: Open Sans, Arial, sans-serif;
    color: #333;
    font-size: 14px;
    margin: 0;
    padding: 10px 50px 0 40px;
    outline: 0;
    display: block;
    resize: none;
}

#application .send textarea::-webkit-scrollbar {
    width: 10px;
}

#application .send textarea::-webkit-scrollbar-track {
    background-color: #ececec;
    border-left: 1px solid #ccc;
}

#application .send textarea::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border: 2px solid transparent;
    background-clip: content-box;
}

#application .send .emoticons i:before {
    content: "";
    width: 20px;
    height: 20px;
    background: url("../img/icons.png");
    background-position: top right;
    position: absolute;
    top: 30px; left: 30px;
    opacity: .3;
}

#application .send .emoticons i:hover:before {
    opacity: 1;
    transition: opacity 300ms linear;
}

#application .send .drawing {
    width: 40px;
    height: 40px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 20px; right: 20px;
}

#application .send .drawing i:before {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/icons.png");
    background-position: -84px -20px;
    position: absolute;
    top: 12px; left: 11px;
    opacity: .3;
}

#application .send .drawing:hover i:before {
    opacity: 1;
    transition: opacity 300ms linear;
}