/*/////////////////////////////////////////////////////////////////////////////////////
// Sign in window */
#signIn {
    width: 100%;
    height: calc(100% - 70px);
    text-align: center;
    padding-top: 50px;
}

#signIn h1 {
    color: #fff;
    display: inline-block;
    position: relative;
    margin-left: 50px;
    margin-bottom: 5px;
}

#signIn h1:before {
    content: "";
    width: 50px;
    height: 50px;
    background: url("../img/logo50.png");
    position: absolute;
    top: 6px; left: -56px;
}

#signIn h5 {
    color: #888;
    margin-bottom: 0px;
}

#signIn form {
    width: 260px;
    height: 180px;
    position: absolute;
    top: 170px; left: 50%;
    margin-left: -130px;
}

#signIn form .checkbox {
    width: 120px;
    height: 20px;
    position: absolute;
    bottom: 0; left: 0;
}

#signIn form small {
    width: 120px;
    height: 20px;
    position: absolute;
    bottom: 0; right: 0;
    text-align: right;
}

#signUp {
    width: 100%;
    height: 70px;
    border-top: 1px solid rgba(255,255,255,.1);
    text-align: center;
    padding-top: 20px;
}

/*/////////////////////////////////////////////////////////////////////////////////////
// Application window */
#sidebar {
    width: 300px;
    height: 100%;
    background: #202224;
    position: absolute;
    top: 0; left: 0;
}

#sidebar .profile {
    width: 100%;
    height: 100px;
    border-right: 1px solid #000;
    border-bottom: 1px solid rgba(255,255,255,.1);
    position: relative;
    -webkit-user-select: none;
    cursor: default;
}

#sidebar .profile .avatar {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px; left: 20px;
}

#sidebar .profile .avatar:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 3px solid #202224;
    border-radius: 100%;
    position: absolute;
    bottom: -3px; right: -3px;
}

#sidebar .profile .avatar img {
    width: 60px;
    height: 60px;
}

#sidebar .profile h4 {
    width: 190px;
    height: 25px;
    color: #fff;
    font-weight: 400;
    position: absolute;
    top: 30px; left: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar .profile h6 {
    width: 160px;
    height: 20px;
    color: #888;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 55px; left: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar .profile button {
    width: 30px;
    height: 30px;
    font-weight: 600;
    padding: 0 0 10px 0;
    line-height: 24px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 10px; right: 10px;
}

#sidebar .friends {
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

#sidebar .friends::-webkit-scrollbar {
    width: 10px;
}

#sidebar .friends::-webkit-scrollbar-track {
    background-color: #000;
}

#sidebar .friends::-webkit-scrollbar-thumb {
    background-color: #36393b;
    border: 2px solid transparent;
    background-clip: content-box;
}

#sidebar .friends ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

#sidebar .friends ul li {
    width: 100%;
    height: 60px;
    position: relative;
    -webkit-user-select: none;
    cursor: default;
}

#sidebar .friends ul li:hover {
    background: #2c2f31;
    transition: background 150ms linear;
}

#sidebar .friends ul li[data-status="offline"] {
    opacity: .5;
    transition: opacity 300ms linear;
}

#sidebar .friends .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px; left: 20px;
}

#sidebar .friends .avatar:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 3px solid #202224;
    border-radius: 100%;
    position: absolute;
    bottom: -3px; right: -3px;
}

#sidebar .friends ul li:hover .avatar:before {
    border: 3px solid #2c2f31;
    transition: border 150ms linear;
}

#sidebar .friends .avatar img {
    width: 40px;
    height: 40px;
}

#sidebar .friends h6 {
    width: 210px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
    position: absolute;
    top: 10px; left: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar .friends h6 small {
    color: #888;
}

#application {
    width: calc(100% - 300px);
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0; right: 0;
}