/*/////////////////////////////////////////////////////////////////////////////////////
// Sign in window */
#signIn {
    width: 100%;
    height: calc(100% - 70px);
    text-align: center;
    padding-top: 50px;
    -webkit-user-select: none;
}

#signIn h1 {
    display: inline-block;
    position: relative;
    margin-left: 50px;
    margin-bottom: 5px;
    cursor: default;
}

#signIn h1:before {
    content: "";
    width: 50px;
    height: 50px;
    background: url("../img/logo.png");
    position: absolute;
    top: 6px; left: -56px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
    #signIn h1:before {
        background: url("../img/logo@2x.png");
        background-size: 50px;
    }
}

#signIn h5 {
    font-weight: normal;
    color: #666;
    margin-bottom: 0px;
    cursor: default;
}

#signIn form {
    width: 260px;
    height: 180px;
    position: absolute;
    top: 170px; left: 50%;
    margin-left: -130px;
}

#signIn form .checkbox {
    width: 120px;
    height: 20px;
    position: absolute;
    bottom: 0; left: 0;
}

#signIn form small {
    width: 120px;
    height: 20px;
    position: absolute;
    bottom: 0; right: 0;
    text-align: right;
}

#signUp {
    width: 100%;
    height: 70px;
    border-top: 1px solid #d0d0d0;
    text-align: center;
    padding-top: 20px;
    -webkit-user-select: none;
}

/*/////////////////////////////////////////////////////////////////////////////////////
// Application window */
#sidebar {
    width: 300px;
    height: 100%;
    background: #f0f0f0;
    border-right: 1px solid #d0d0d0;
    position: absolute;
    top: 0; left: 0;
}

#sidebar .profile {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #d0d0d0;
    position: relative;
    -webkit-user-select: none;
    cursor: default;
}

#sidebar .profile .avatar {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px; left: 20px;
}

#sidebar .profile .avatar:before {
    content: "";
    width: 23px;
    height: 23px;
    border: 3px solid #f0f0f0;
    border-radius: 100%;
    position: absolute;
    bottom: -3px; right: -3px;
}

#sidebar .profile .avatar img {
    width: 60px;
    height: 60px;
}

#sidebar .profile h4 {
    width: 190px;
    height: 25px;
    position: absolute;
    top: 30px; left: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar .profile h6 {
    width: 160px;
    height: 20px;
    color: #666;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 55px; left: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar .profile button {
    width: 30px;
    height: 30px;
    font-weight: bold;
    padding: 0 0 10px 0;
    line-height: 24px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 10px; right: 10px;
}

#sidebar .friends {
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

#sidebar .friends::-webkit-scrollbar {
    width: 16px;
}

#sidebar .friends::-webkit-scrollbar-track {
    background-color: transparent;
}

#sidebar .friends::-webkit-scrollbar-thumb {
    background-color: rgba(130,130,130,.5);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 2px;
}

#sidebar .friends ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 0;
    list-style: none;
}

#sidebar .friends ul li {
    width: 100%;
    height: 60px;
    position: relative;
    -webkit-user-select: none;
    cursor: default;
}

#sidebar .friends ul li:hover {
    border-left: 5px solid #0077ff;
    transition: border-left 200ms ease-in-out;
}

#sidebar .friends ul li[data-status="offline"] {
    opacity: .5;
}

#sidebar .friends .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px; left: 20px;
}

#sidebar .friends .avatar:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #f0f0f0;
    border-radius: 100%;
    position: absolute;
    bottom: -2px; right: -2px;
}

#sidebar .friends .avatar img {
    width: 40px;
    height: 40px;
}

#sidebar .friends h6 {
    width: 210px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 10px; left: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar .friends h6 small {
    font-weight: normal;
    color: #666;
}

#application {
    width: calc(100% - 300px);
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0; right: 0;
}

#application .top {
    width: 100%;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid #d0d0d0;
    position: absolute;
    top: 0; left: 0;
    -webkit-user-select: none;
    cursor: default;
}

#application .top .windowBar {
    -webkit-app-region: drag;
    width: 90px;
    height: 40px;
    border-left: 1px solid #d0d0d0;
    padding: 15px 0;
    list-style: none;
    position: absolute;
    top: 0; right: 0;
}

#application .top .windowBar li {
    -webkit-app-region: no-drag;
    width: 10px;
    height: 10px;
    float: left;
    margin-left: 15px;
}

#application .top .windowBar li:last-child {
    margin-right: 0px;
}

#application .top .windowBar li:hover {
    opacity: .7;
}

#application .top .windowBar li.minimize {
    background-position: -30px 0px;
}

#application .top .windowBar li.maximize {
    background-position: -15px 0px;
}

#application .top .windowBar li.close {
    background-position: 0px 0px;
}

#application .chat {
    width: 100%;
    height: calc(100% - 119px);
    background: #fff;
    position: absolute;
    top: 40px; left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#application .chat::-webkit-scrollbar {
    display: none;
}

#application .chat .item {
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    position: relative;
}

#application .chat .item.normal {
    min-height: 90px;
}

#application .chat .item.append,
#application .chat .item.presence {
    min-height: 50px;
}

#application .chat .item .avatar {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px; left: 20px;
}

#application .chat .item .avatar img {
    width: 50px;
    height: 50px;
}

#application .chat .item .content {
    width: calc(100% - 80px);
	margin-left: 80px;
	position: relative;
    padding-right: 120px;
    padding-bottom: 14px;
}

#application .chat .item .content img {
    max-width: 100%;
    height: auto;
}

#application .chat .item.normal .content {
    padding-top: 26px;
}

#application .chat .item.append .content,
#application .chat .item.presence .content{
    padding-top: 16px;
}

#application .chat .item .content .name {
    width: 100%;
    height: 20px;
}

#application .chat .item .content .message {
    width: 100%;
    min-height: 20px;
}

#application .chat .item .content .time {
    width: 120px;
    position: absolute;
    top: 0; right: 0;
    text-align: right;
    padding-right: 20px;
}

#application .chat .item .content .time p {
    color: #aaa;
}

#application .chat .item.normal .content .time {
    margin-top: 35px;
}

#application .chat .item.append .content .time {
    margin-top: 18px;
}

#application .chat .item.presence .content strong {
    color: #333;
}

#application .chat .item.presence .animation {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px; left: 20px;
}

#application .chat .item.presence .animation span {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    float: left;
    margin: 21px 4px 0 4px;
    -webkit-animation: loading 0.6s infinite alternate;
}
#application .chat .item.presence .animation span:nth-of-type(1) {
    background: #333;
    -webkit-animation-delay: 0.0s;
}
#application .chat .item.presence .animation span:nth-of-type(2) {
    background: #333;
    -webkit-animation-delay: 0.2s;
}
#application .chat .item.presence .animation span:nth-of-type(3) {
    background: #333;
    -webkit-animation-delay: 0.4s;
}
@-webkit-keyframes loading {
    100% {
        background: #ccc;
    }
}

#application .send {
    width: 100%;
    height: 80px;
    background: #f0f0f0;
    border-top: 1px solid #d0d0d0;
    padding: 20px;
    position: absolute;
    bottom: 0; left: 0;
    -webkit-user-select: none;
    cursor: default;
}

#application .send textarea {
    width: 100%;
    height: 40px;
    background: #fff; 
    border: 1px solid #d0d0d0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 14px;
    margin: 0;
    padding: 12px 12px 0 12px;
    outline: 0;
    display: block;
    resize: none;
}

#application .send textarea::-webkit-scrollbar {
    width: 16px;
}

#application .send textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

#application .send textarea::-webkit-scrollbar-thumb {
    background-color: rgba(130,130,130,.5);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 2px;
}