@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("../css/font-awesome.min.css");
@import url("../css/main.css");

* { -webkit-box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: #202224;
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Open Sans, Arial, sans-serif;
    color: #333;
}

h1 { font-size: 60px; font-weight: 300; line-height: 60px; margin: 0 0 20px 0; }
h2 { font-size: 48px; font-weight: 300; line-height: 48px; margin: 0 0 20px 0; }
h3 { font-size: 36px; font-weight: 300; line-height: 36px; margin: 0 0 20px 0; }
h4 { font-size: 24px; font-weight: 600; line-height: 24px; margin: 0 0 10px 0; }
h5 { font-size: 18px; font-weight: 600; line-height: 18px; margin: 0 0 10px 0; }
h6 { font-size: 14px; font-weight: 600; line-height: 14px; margin: 0 0 10px 0; }

p       { margin: 0 0 20px 0; }
em      { font-style: italic; }
strong  { font-weight: 700; }
small   { font-size: 12px; }

hr {
    border: solid #ccc;
    border-width: 1px 0 0;
    clear: both;
    margin: 20px 0;
    height: 0; }

a, a:visited {
    color: #0077ff;
    text-decoration: none;
    outline: 0;
}

a:hover, a:focus {
    color: #0088ff;
    text-decoration: underline;
}

img.rounded {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: #aaa;
}

::selection {
    background: #0077ff;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 200px;
    height: 30px;
    background: #fff; 
    border: none;
    font-family: Open Sans, Arial, sans-serif;
    color: #333;
    font-size: 14px;
    margin: 0 0 10px 0;
    padding: 0 10px;
    outline: 0;
    display: block;
}

input[type="text"].big,
input[type="password"].big,
input[type="email"].big {
    width: 260px;
    height: 40px;
    font-size: 14px;
    padding: 0 15px;
}

.checkbox label {
    color: #888;
    font-size: 12px;
    position: absolute;  
    top: 0; left: 0;
    padding-left: 24px;
    -webkit-user-select: none;
}

.checkbox label:before {  
    content: "";
    width: 16px;  
    height: 16px;
    background: transparent;
	border: 1px solid rgba(255,255,255,.4);
    border-radius: 100%;
    position: absolute;  
    left: 0; bottom: 0;
    display: inline-block;  
}

.checkbox label:hover:before {
	border: 1px solid rgba(255,255,255,1);
    transition: border 300ms linear;
}

input[type=checkbox] {  
    display: none;  
}

input[type=checkbox]:checked + label:before {  
    content: "\f00c";  
    font-family: FontAwesome;
    font-size: 10px;  
    color: #fff;  
    text-align: center;  
    line-height: 17px;  
}  

button {
    height: 30px;
    background: transparent;
	border: 1px solid rgba(255,255,255,.4);
    border-radius: 50px;
    font-family: Open Sans, Arial, sans-serif;
    color: #888;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0 10px;
    outline: 0;
    display: inline-block;
    transition: border 300ms linear, color 300ms linear, background 300ms linear;
}

button:hover:enabled {
    color: rgba(255,255,255,1);
    border: 1px solid rgba(255,255,255,1);
}

button:active:enabled {
    border: 1px solid rgba(255,255,255,.4);
}

button:disabled {
    opacity: .6;
}

button.blue {
    background: #0077ff;
    border: none;
    color: #fff;
}

button.blue:hover:enabled {
    border: none;
    background: #0088ff;
}

button.blue:active:enabled {
    border: none;
    background: #0077ff;
}

button.big {
    height: 40px;
    font-size: 14px;
    padding: 0 20px;
}

button.wide {
    width: 100%;
}

.windowBar {
    -webkit-app-region: drag;
    width: 100%;
    height: 30px;
    background: #2c2f31 ;
    border-bottom: 1px solid #000;
    position: absolute;
    top: 0; left: 0;
}

.windowBar .title {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
}

.windowBar i {
    -webkit-app-region: no-drag;
    width: 50px;
    height: 30px;
    position: relative;
}

.windowBar i:before {
    content: "";
    width: 10px;
    height: 10px;
    background: url("../img/icons.png");
    position: absolute;
    top: 10px; left: 20px;
    opacity: .5;
}

.windowBar i:hover:before {
    opacity: 1;
    transition: opacity 300ms linear;
}

.windowBar i.close:before              { background-position: 0 0; }
.windowBar i.minimize:before           { background-position: -10px 0; }
.windowBar i.maximize:before           { background-position: -20px 0; }
.windowBar i.expand:before             { background-position: -30px 0; }
.windowBar i.compress:before           { background-position: -40px 0; }

.windowBar .actions {
    width: 150px;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}

.windowBar .actions i {
    float: left;
    border-right: 1px solid #000;
}

.windowBar .fullscreen {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0; right: 0;
}

.windowBar .fullscreen i {
    float: right;
    border-left: 1px solid #000;
}

.windowContent {
    -webkit-app-region: no-drag;
    width: 100%;
    height: calc(100% - 30px);
    position: absolute;
    bottom: 0; left: 0;
}

[data-status="online"] .avatar:before   { background: #0077ff; }
[data-status="away"] .avatar:before     { background: #f4b400; }
[data-status="busy"] .avatar:before     { background: #d73628; }
[data-status="offline"] .avatar:before  { background: #888888; }