@import url("../css/font-awesome.min.css");
@import url("../css/main.css");

*, *:before, *:after { -webkit-box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: #e8ecef;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #666;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333;
}

h1 { font-size: 60px; line-height: 60px; margin: 0 0; }
h2 { font-size: 48px; line-height: 48px; margin: 0 0; }
h3 { font-size: 36px; line-height: 36px; margin: 0 0; }
h4 { font-size: 24px; line-height: 24px; margin: 0 0; }
h5 { font-size: 18px; line-height: 18px; margin: 0 0; }
h6 { font-size: 14px; line-height: 14px; margin: 0 0; }

p       { margin: 0 0; }
em      { font-style: italic; }
strong  { font-weight: bold; }
small   { font-size: 12px; }

hr {
    border: solid #ccc;
    border-width: 1px 0 0;
    clear: both;
    margin: 20px 0;
    height: 0; }

a, a:visited {
    color: #0077ff;
    text-decoration: none;
    outline: 0;
}

a:hover, a:focus {
    color: #0088ff;
    text-decoration: underline;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.rounded {
    border-radius: 100%;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: #999;
    transition: color 400ms ease-in-out;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{
    color: #ccc;
}

::selection {
    color: #fff;
    background: #0077ff;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 260px;
    height: 40px;
    background: #fff; 
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 14px;
    margin: 0 0 10px 0;
    padding: 0 12px;
    outline: 0;
    display: block;
}

input[type="text"].wide,
input[type="password"].wide,
input[type="email"].wide {
    width: 100%;
}

.checkbox label {
    color: #666;
    font-size: 12px;
    position: absolute;  
    top: 0; left: 0;
    padding-left: 22px;
    -webkit-user-select: none;
}

.checkbox label:before {  
    content: "";
    width: 16px;  
    height: 16px;
    background: #fff; 
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    position: absolute;  
    left: 0; bottom: 0;
    display: inline-block;  
}

input[type=checkbox] {  
    display: none;  
}

input[type=checkbox]:checked + label:before {  
    content: "\f00c";  
    font-family: FontAwesome;
    font-size: 8px;  
    color: #333;  
    text-align: center;  
    line-height: 15px;  
}

button {
    height: 40px;
    background: #0077ff;
	border: 1px solid #0055ff;
    border-radius: 3px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0 20px;
    outline: 0;
    display: inline-block;
}

button:disabled {
    opacity: .6;
}

button:hover:enabled {
    color: #fff;
    background: #0088ff;
}

button:active:enabled {
    background: #0077ff;
}

button.wide {
    width: 100%;
}

[data-status="online"] .avatar:before   { background: #0077ff; }
[data-status="away"] .avatar:before     { background: #f4b400; }
[data-status="busy"] .avatar:before     { background: #d73628; }
[data-status="offline"] .avatar:before  { background: #888888; }

.icon:after {
    content: "";
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    background-size: 100px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
    .icon:after {
        background-image: url("../img/icons@2x.png");
    }
}

.windowBar {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    width: 100%;
    height: 30px;
    background: #fff;
    border-bottom: 1px solid #d0d0d0;
    position: absolute;
    top: 0; left: 0;
}

.windowBar ul {
    width: auto;
    height: 30px;
    list-style: none;
    position: absolute;
    top: 0; left: 0;
}

.windowBar ul li {
    -webkit-app-region: no-drag;
    width: 40px;
    height: 30px;
    border-right: 1px solid #d0d0d0;
    float: left;
    position: relative;
}

.windowBar ul li:after {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px; left: 15px;
}

.windowBar ul li:hover {
    opacity: .7;
}

.windowBar ul li.minimize:after {
    background-position: -30px 0px;
}

.windowBar ul li.maximize:after {
    background-position: -15px 0px;
}

.windowBar ul li.close:after {
    background-position: 0px 0px;
}

.windowContent {
    -webkit-app-region: no-drag;
    width: 100%;
    height: calc(100% - 30px);
    position: absolute;
    bottom: 0; left: 0;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(61,70,77,.6);
    position: absolute;
    top: 0; left: 0;
    z-index: 999;
}

.overlay:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #777;
    position: absolute;
    top: -1px; left: 0;
}

.overlay .modal {
    width: 360px;
    height: 480px;
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0,0,0,.2);
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -240px;
    margin-left: -180px;
}

.overlay .modal .header {
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #d0d0d0;
    padding: 16px;
    position: absolute;
    top: 0; left: 0;
}

.overlay .modal .content {
    width: 100%;
    height: calc(100% - 50px);
    background: #e8ecef;
    padding: 30px;
    position: absolute;
    bottom: 0; left: 0;
}